@{
    ViewBag.Title = "LandingPage";
    Layout = "~/Views/Shared/OtherCastLayout.cshtml";
}

<div class="grid_3" style="color: #555; font-size: 18px; line-height: 1.8em;">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <li class="current-page" style="font-size: 20px; color: green;">Successfully Registered!</li>
            </ul>
        </div>
        <div class="grid_5">
            Thank You For Registering with Us!
            
            <br />


            <hr />
            <i style="color: green">
                <br />
                We will contact you as soon as possible.</i>

            <hr />



        </div>
    </div>
</div>

