@{
    ViewBag.Title = "TermsAndCondition";
    Layout = "~/Views/Shared/OtherCastLayout.cshtml";
}
<div style="margin-left: 10px; margin-right: 10px;">
    <br />
    <br />
    <br />
    <div style="text-align: center; font-size: 24px; color: #c32143">
        Saajbandh Reshimgathi Bride &amp; Groom Indicative Organization
    </div>
    <br />
    <br />
    <span style="color: green"><b>Welcome,</b> </span>
    <br />
    <br />
    <b><span style="color: red">Working hours:</span><span style="color: green"> Morning 9:00 AM To Evening 6:00 PM</span></b>
    <br />
    <br />
    <div>
        <h3><span class="fa fa-hand-o-right"></span><u><a target="_blank" href="~/Content/docs/TermsandConditionMarathi.pdf">अटी  व शर्ती नियमांचे मराठीत  माहिती जाणून घेण्यासाठी या लिंक वर क्लिक करावे.</a></u></h3>
    </div>
    <br />
    <div style="text-align: center; font-size: 24px; font-weight: bold; color: red">Terms and condition</div>
    <div>
        1)	This initiative, created for every needy person, is organized successfully
has been prepared by planning.
    </div>
    <br />
    <div>
        2)	First Process: Name Registration
Second Process: Fee payment (Your account will be started in 24 hours after paying the fee)
Third Process: You will get a user ID and the password you have entered should open your account and fill out the information in it as well as upload photo is mandatory.
    </div>
    <br />
    <div>3)	It is necessary to file a fee of Rs.500 / - for the first time. There is no need to pay the fee after one year.</div>
    <br />
    <div>4)	Fees will not be recovered (refundable) for any reason after registration.</div>
    <br />
    <div>5)	The institution will need to give your information bio-data, photo (self attested Xerox copies of 10th / 12th / diploma / degree / leaving certificate) and payment slips if employed. Otherwise your registration will not be accepted.</div>
    <br />
    <div>
        6)	The bride or groom, taken from the website "Saajbandh Reshimgathi"
For all the details of the information (whether it is true or false), your relatives, you should go and do it yourself.
The website "saajbandh reshimgathi" will not be responsible for any future problems. This will be your whole responsibility.
    </div>
    <br />
    <div>7)	Bride or groom and their parents should get married after seeing the full details and checking the information of the candidate, photos from their account.</div>
    <br />
    <div>8)	With the help of your registration number, any person can view your information, photos from website anywhere in the world.</div>
    <br />
    <div>9)	Find a perfect a match or matching a wedding is not our responsibility, but we are only the medium to give you information.</div>
    <br />
    <div>
        10)	Let us know if you get married, we will remove the information from the 
        website of that bride and groom. So that no one will ask the information 
        about that bride and groom.
    </div>
    <br />
    <div>
        11)	Strict action will be taken if there is misuse of information taken from the  
        website.  
    </div>
    <br />
    <div>
        12)	Firstly, thank you for reading our full terms and conditions and hopefully  
   you will cooperate with us in strictly follow to the terms and 
   conditions. & thank you for your support.
    </div>
    <br />
    <div>
        13)	If you had some mistakes while filling the form should be communicated 
   to us, we will accept your request corrections.
    </div>
    <br />
    <br />
    <div style="color: green">Thank you for visiting our Website!!!</div>
</div>
