@{
    ViewBag.Title = "PaymentCompleted";
    Layout = "~/Views/Shared/Layout.cshtml";
}

  

<div class="grid_3" style="color: #555; font-size: 18px; line-height: 1.8em;">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <li class="current-page" style="font-size: 20px; color: green;">Successfully Activated!</li>
            </ul>
        </div>

        <div class="grid_5">
            Thank You for your payment.
            
            <br />

           
            <hr />
            
           
          
            <i style="color: green">Your account is activated succesfully.Kindly login with your credentials.</i>

        </div>
    </div>
</div>


