@{
    ViewBag.Title = "ContactUS";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="grid_3">
    <div class="container">
        @* <div class="breadcrumb1">
            <ul>
                <a href="/Home/Home"><i class="fa fa-home home_1"></i></a>
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">Contact</li>
            </ul>
        </div>*@
        <div style="text-align: center; font-size: 24px; font-weight: bold; color: red">Contact Us</div>
        <br />
        <br />

        <div class="grid_5">
            <p style="margin-left: 15px; font-size: 24px; color: #c32143">
                Saajbandh Reshimgathi
            </p>
            <address class="addr row">
                <dl class="grid_4">
                    <dt>Address :</dt>
                    <dd>403,Sandhya Society,Pimple Nilakh,
                        <br>
                        Pune,Maharashtra 411027.<br />
                        <br />
                    </dd>
                    <dd>15,Z.P.Colony,Jalgaon.<br />
                        Jalgaon. 425001.<br />
                        <br />
                    </dd>
                    <br />
                    <br />
                    <dd>22/B,New Ekta Housing Society, Dhule.<br />
                        Dhule. 424001.
                    </dd>
                </dl>
                <dl class="grid_4">
                    <dt>Telephones :</dt>
                    <dd>+91 9421075089
                        <br>
                    </dd>
                </dl>
                <dl class="grid_4">
                    <dt>E-mail :</dt>
                    <dd>info@saajbandh.com</dd>
                    <dt></dt>
                    <dd>saajbandh@gmail.com</dd>

                </dl>
            </address>
        </div>

    </div>
</div>
