@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/PlainLayout.cshtml";
}

<div class="grid_3">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <a href="/Home/Home"><i class="fa fa-home home_1"></i></a>
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">Under Construction</li>
            </ul>
        </div>
        <div>
            <span>Thank You for visting our Site! This Site is in under construction.</span>
            <br />
            <img src="~/Content/images/under-construction.jpg" />
        </div>
    </div>
</div>
